body {
    background-color: burlywood;
}
h1 {
    margin: 30px auto;
}
h3 {
    position: fixed;
    bottom: 10px;
    color: grey;
    margin: 10px auto 10px 30px;
}
.logout-form {
    height: 25px;
}
.logout-btn {
    position: relative;
    bottom: 25px;
    right: 10px;
}
.btn {
    margin: 5px;
}
.table {
    width: 80%;
}
#email {
    padding: 5px;
    border-radius: 3px;
    background-color: dimgray;
    color: ivory;
}